<div id="remesa_calculadora___name__">
    <div>
        <label for="remesa_calculadora___name___formalizacion" class="required">Formalizacion</label><input type="date" id="remesa_calculadora___name___formalizacion" name="remesa[calculadora][__name__][formalizacion]" required="required" />
    </div>
    <div><label for="remesa_calculadora___name___vencimiento" class="required">Vencimiento</label><input type="date" id="remesa_calculadora___name___vencimiento" name="remesa[calculadora][__name__][vencimiento]" required="required" /></div>
    <div><label for="remesa_calculadora___name___dias" class="required">Dias</label><input type="number" id="remesa_calculadora___name___dias" name="remesa[calculadora][__name__][dias]" required="required" value="1" /></div>
    <div>
        <label for="remesa_calculadora___name___drawee">Drawee</label>
        <select id="remesa_calculadora___name___drawee" name="remesa[calculadora][__name__][drawee]">

        </select>
    </div>
    <div><label for="remesa_calculadora___name___nominal">Nominal</label><input type="text" id="remesa_calculadora___name___nominal" name="remesa[calculadora][__name__][nominal]" /></div>
    <div><label for="remesa_calculadora___name___costeFinanciero">Coste financiero</label><input type="text" id="remesa_calculadora___name___costeFinanciero" name="remesa[calculadora][__name__][costeFinanciero]" /></div>
    <div><label for="remesa_calculadora___name___costeUnitario">Coste unitario</label><input type="text" id="remesa_calculadora___name___costeUnitario" name="remesa[calculadora][__name__][costeUnitario]" /></div>
    <div><label for="remesa_calculadora___name___timbres">Timbres</label><input type="text" id="remesa_calculadora___name___timbres" name="remesa[calculadora][__name__][timbres]" /></div>
    <div><label for="remesa_calculadora___name___tae">Tae</label><input type="text" id="remesa_calculadora___name___tae" name="remesa[calculadora][__name__][tae]" /></div>
</div>