{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div id="map" style="height: 100%; position: static !important; overflow: hidden; width: 100%;"></div>        
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

   <script>
      var map;
      function initMap() {
       var  map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.4214106, lng: 3.6764945},
          zoom: 8
        });
        var lat = 40.4214106;
        var lon = 3.6764945;
        var markers = [];
        //for (var i = 0; i < 4; i++) {
          var latLng = new google.maps.LatLng( 40.4214106,3.6761945);
          var markers1 = new google.maps.Marker({
            position: latLng,
            map: map,
            title: 'Hello World!1'
          });
          markers1.setMap(map);
          var latLng = new google.maps.LatLng( 40.4214106,3.6764945);
          var markers2 = new google.maps.Marker({
            position: latLng,
            map: map,
            title: 'Hello World2'
          });
          markers2.setMap(map);
          var latLng = new google.maps.LatLng(  40.4214106,3.6784945);
          var markers3 = new google.maps.Marker({
            position: latLng,
            map: map,
            title: 'Hello World!3'
          });
          markers3.setMap(map);
       // }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_places }}&callback=initMap"
    async defer></script>
{% endblock %}
